body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.tabobjects {
    background-color: #0e0e0e;
    margin-left: -0.6%;
    margin-top: -2%;
    width: 101.2%;
    height: 6em;
    border-bottom: 3px solid #545454;
}

.tab {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.user_btn {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-black {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5;
    width: 8em;
    color: #d1d1d1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #282828;
    border-color: #949763;
}

.btn-green {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    background-color: #6cc644;
    border-color: #81de46;
    margin: 5%;
    cursor: pointer;
}

.btn-white {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    height: 4em;
    background-color: #ffffff;
    border-radius: 1em;
    cursor: pointer;
}

.btn-gray {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #0e0e0e;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 5em;
    height: 4em;
    background-color: #7d7d7d;
    border-radius: 1em;
    cursor: pointer;
}

.navlist {
    display: flex;
    height: 7em;
    justify-content: center;
    align-items: center;
}

.objects {
    display: flex;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    float: left;
}

.dropdown-objects {
    float: left;
}

.btn-drop {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    height: 4em;
    background-color: #ffffff;
    border-radius: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #545454;
    margin-left: 0.68em;
    min-width: 7em;
    padding: 1em;
}

.dropdown-content a {
    color: #545454;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-objects:hover .btn-drop{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-objects:hover .dropdown-content {
    display: block;
}

.form_box, .activity_simple {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    width: 33%;
    height: 100%;
    border: solid 2px #0e0e0e;
}

.headline {
    margin-left: 20px;
    border-bottom: 2px solid;
}

.subline {
    margin-left: 20px;
    border-bottom: 1px solid;
    width: 50%;
}

.form_row, .form_row_required {
    margin-left: 50px;
    height: 2.5em;
    font-size: large;
}

.form_row_required:after {
    content:" *";
}

#manage_profile, #manage_parents {
    width: 80%;
    height: 55em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    border: solid 2px #0e0e0e;
}

#manage_parents {
    height: 45em;
}

.manage_stuff_1, .manage_stuff_2, .manage_stuff_3{
    margin-left: 3em;
    width: 40%;
    height: 30%;
    float: left;
}

.manage_stuff_1 {
    height: 264px;
}

.manage_stuff_2 {
    margin-left: 10em;
    height: 264px;
}

.event_form {
    display: flex;
    justify-content: center;
}

.event_date {
    font-size: xx-large;
    font-weight: 600;
    border-bottom: solid;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: center;
}

.activity_homework, .activity_other {
    border-bottom: 2px solid #545454;
    background-color: lightblue;
}

.activity_homework {
    background-color: lightcyan;
}

.date {
    font-size: x-large;
    text-align: center;
}

.title {
    margin-left: 1em;
    font-size: large;
    font-weight: 600;
}

.subject {
    margin-left: 1em;
}

.select_label {
    float: left;
    padding: 0 1em;
    text-align: center;
}

.cross {
    margin-top: -20px;
    background: none;
    width: 30px;
    height: 30px;
    border: none;
    float: right;
}

.cross_img {
    display:flex;
    justify-content: center;
    width:20px;
}