body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabobjects {
    background-color: #0e0e0e;
    margin-left: -0.6%;
    margin-top: -2%;
    width: 101.2%;
    height: 6em;
    border-bottom: 3px solid #545454;
}

.tab {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.user_btn {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-black {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5;
    width: 8em;
    color: #d1d1d1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #282828;
    border-color: #949763;
}

.btn-green {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    background-color: #6cc644;
    border-color: #81de46;
    margin: 5%;
    cursor: pointer;
}

.btn-white {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    height: 4em;
    background-color: #ffffff;
    border-radius: 1em;
    cursor: pointer;
}

.btn-gray {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #0e0e0e;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 5em;
    height: 4em;
    background-color: #7d7d7d;
    border-radius: 1em;
    cursor: pointer;
}

.navlist {
    display: flex;
    height: 7em;
    justify-content: center;
    align-items: center;
}

.objects {
    display: flex;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    float: left;
}

.btn-drop {
    font-size: inherit;
    font-weight: 600;
    line-height: 1.5em;
    color: #545454;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    width: 9em;
    height: 4em;
    background-color: #ffffff;
    border-radius: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #545454;
    min-width: 7em;
    padding: 1em;
}

.dropdown-content a {
    color: #545454;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-objects:hover .btn-drop{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown-objects:hover .dropdown-content {
    display: block;
}

.form_box, .activity_simple {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    width: 450px;
    height: 100%;
    border: solid 2px #0e0e0e;
}

.headline {
    margin-left: 20px;
    border-bottom: 2px solid;
}

#create_activity {
    margin-top:2em;
    margin-bottom:2em;
    margin-left:100px;
}

.subline {
    margin-left: 20px;
    border-bottom: 1px solid;
    width: 50%;
}

.form_row, .form_row_required {
    margin-left: 50px;
    height: 2.5em;
    font-size: large;
}

.form_row_required:after {
    content:" *";
}

#manage_profile, #manage_parents {
    width: 80%;
    height: 60em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    border: solid 2px #0e0e0e;
}

#manage_parents {
    height: 55em;
}

.manage_stuff_1, .manage_stuff_2, .manage_stuff_3{
    margin-left: 5%;
    width: 40%;
    height: 30%;
    float: left;
}

.manage_stuff_1 {
    height: 300px;
}

.manage_stuff_2 {
    margin-left: 10%;
    height: 300px;
}

.event_form {
    display: flex;
    justify-content: center;
}

.event_date {
    font-size: xx-large;
    font-weight: 600;
    border-bottom: solid;
    margin-left: auto;
    margin-right: auto;
    width: 11em;
    text-align: center;
}

.activity_homework, .activity_training, .activity_other {
    border-bottom: 2px solid #545454;
    background-color: lightblue;
}

.activity_homework {
    background-color: lightcyan;
}

.activity_training {
    background-color: lightgreen;
}

.date {
    font-size: x-large;
    text-align: center;
}

.title {
    margin-left: 1em;
    font-size: large;
    font-weight: 600;
}

.subject {
    margin-left: 1em;
}

.select_label {
    float: left;
    padding: 0 5%;
    text-align: center;
}

.cross {
    margin-top: -20px;
    background: none;
    width: 30px;
    height: 30px;
    border: none;
    float: right;
}

.cross_img {
    display: flex;
    justify-content: center;
    width: 20px;
}

#calendar {
    width:50%;
    border: 2px solid black;
}

.calendar_header {
    height: 5em;
    width: 5em;
    background: #363652;
    color: #fff;
    border: 1px solid black;
}

.calendar_data {
    text-align: center;
    border: none;
    height: 3em;
}
/* For different resolutions */
@media (max-width: 1000px) {
    h1 {
        font-size: x-large;
    }
    #dropdown_child {
        margin-top: 10%;
    }
}
@media (max-width: 800px) {
    .activity_simple {
        width: 300px;
    }

    .btn-white {
        width: 6em;
        height: 4em;
    }

    .btn-drop {
        width: 6em;
        height: 4em;
    }

    .manage_stuff_3 {
        width: 80%;
        margin-top: 40px;
    }

    #dropdown_child {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
     .btn-white {
         height: 2em;
         width: 100%;
     }
     .btn-drop {
        height: 2em;
        width: 100%;
     }
     .btn-gray {
         height: 2em;
         width: 60%;
         margin-right: -25%;
         float:right;
     }
     .tabobjects {
         height: 9em;
     }
     .navlist {
         display: block;
         margin-left: -3%;
         width: 100%;
         float:left;
     }
     .objects {
         display: inline-block;
         height: 35%;
         width: 45%;
         float: left;
     }
     #manage_profile {
         height: 1400px;
     }
     .manage_stuff_1,.manage_stuff_2,.manage_stuff_3 {
         width: 80%;
     }
     .manage_stuff_2 {
         margin-top: 50px;
     }
     .manage_stuff_3 {
         margin-top: 50px;
     }
}
@media (max-width: 360px) {
    .form_row, .form_row_required {
        font-size: 1em;
    }
}
@media (max-width: 320px) {
    .btn-gray {
        width: 100px;
    }
    .form_box {
        width: 90%;
    }
    .form_row, .form_row_required {
        margin-left: 10px;
    }
    .manage_stuff_2 {
        margin-top: 65px;
    }
    #manage_parents {
        height: 62em;
    }
    #create_activity {
        margin-left: 20px;
    }
}

/* For JS Image Slider */

#img_slider a {
    color: #c48ec8;
    -webkit-transition: color 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: color 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: color 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: color 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000); /* ease-in-out */
}

#img_slider button {
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: #c48ec8;
    padding: 8px 14px;
}

ul.animate {
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); /* ease-in-out */
}

.stage {
    width: 76%;
    margin: 0 auto;
    padding: 0 12%;
    text-align: center;
    overflow: hidden;
}

.sldr {
    max-width: 825px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    clear: both;
    display: block;
}

.sldr > ul > li {
    float: left;
    display: block;
    width: 825px;
}

div.skew {
    max-width: 825px;
    margin: 0 auto;

    display: block;
    overflow: hidden;

    -webkit-transform: skewX(16deg);
    -moz-transform: skewX(16deg);
    -ms-transform: skewX(16deg);
    transform: skewX(16deg);
}

div.skew > div.wrap {
    display: block;
    overflow: hidden;

    -webkit-transform: skewX(-16deg);
    -moz-transform: skewX(-16deg);
    -ms-transform: skewX(-16deg);
    transform: skewX(-16deg);

    margin-left: -10.1%;
    width: 122%;
}

.wrap img {
    max-width: 1000px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.selectors {
    margin-left: -45px;
}

.selectors li {
    font-size: 46px;
    line-height: 32px;
    display: inline;
    padding: 0 2px;
}

.selectors li a {
    text-decoration: none;
}

.selectors li.focalPoint a {
    color: #CCC;
    cursor: default;
}

.captions div {
    left: 200%;
    position: fixed;
    opacity: 0;

    -webkit-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); /* ease-in-out */
}

.captions div.focalPoint {
    opacity: 1;
    left: inherit;
    position: static;
}

.clear {
    display: block;
    width: 100%;
    height: 0px;
    overflow: hidden;
    clear: both;
}