<div class="logo"><img src="/img/logo.png"></div>
<div id="img_slider">
  <div class="stage">
    <div class="clear"></div>
    <div id="SLDR-ONE" class="sldr">
      <ul class="wrp animate">
        <li class="elmnt-one"><div class="skew"><div class="wrap"><img src="img/test/Lake.jpg" width="1000" height="400"></div></div></li>
        <li class="elmnt-two"><div class="skew"><div class="wrap"><img src="img/test/Mountain-Range.jpg" width="1000" height="400"></div></div></li>
        <li class="elmnt-three"><div class="skew"><div class="wrap"><img src="img/test/Mt-Fuji.jpg" width="1000" height="400"></div></div></li>
        <li class="elmnt-four"><div class="skew"><div class="wrap"><img src="img/test/Pink-Forest.jpg" width="1000" height="400"></div></div></li>
      </ul>
    </div>
  </div>
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.sldr.js"></script>
<script src="/js/main.js">