<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SuperAwesomeWebsite</title>
</head>
<body>
  <div id="login_signup">
    <table>
      <tr>
        <td class="login">Parent Log In</td>
        <td class="signup">Parent Sign Up</td>
      </tr>
      <tr>
        <td class="login">Log In</td>
        <td class="signup">Sign Up</td>
      </tr>
    </table>
  </div>
  <%= yield %>
</body>
</html>