<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SuperAwesomeWebsite</title>
  <link type="text/css" rel="stylesheet" href="/css/layout.css">
</head>
<body>
  <% if @user || @parent %>
    <div id="tabobjects">
      <ul>
        <li><a href="activities">Upcoming Events</a></li>
        <li><a href="new_activity">Add New Activity</a></li>
        <li><a href="parent_management">Manage Parents</a></li>
        <li><a href="profile">My Profile</a></li>
        <li><form action="/log_out" method="post"><button type="submit">Log Out</button></form></li>
      </ul>
    </div>
  <% if @event %>
    <div class="event_form">Simple Form</div>
    <div class="event_form">Calendar Form</div>
    <div class="event_date"><%= Time.now %></div>
  <% end%>
  <% else %>
    <div>
      <table class="tab">
        <tr>
          <td class="user_btn"><form action="/login" method="get"><button class="btn-neutral" type="submit">Log In</button></form></td>
          <!--<td class="parent_btn"><form action="/parent_login" method="get"><button class="btn-neutral" type="submit">Parent Log In</button></form></td>-->
        </tr>
        <tr>
          <td class="user_btn"><form action="/sign_up" method="get"><button class="btn-green" type="submit">Sign Up</button></form></td>
          <!--<td class="parent_btn"><form action="/parent_sign_up" method="get"><button class="btn-green" type="submit">Parent Sign Up</button></form></td>-->
        </tr>
      </table>
    </div>
  <% end %>
<%= yield %>
</body>
</html>