<div class="form_box">
  <form action="/login/in" method="post" id="login_form">
    <p class="form_row"><label id="login_labels">Username or Email: </label><br><input type="text" name="username_email"></p>
    <p class="form_row"><label id="login_labels">Password: </label><br><input type="password" name="password"></p>
    <p class="form_row"><button class="btn-black" type="submit">Log In</button></p>
  </form>
</div>